/* *************font-family**************** */
@font-face {
    font-family: 'Floreste';
    src: url('../fonts/floreste-font/floreste/FloresteWavy-BWPqd.otf') format('opentype');
    font-style: normal;
  }
  @font-face {
    font-family: 'Euclid Circular A';
    src: url('../fonts/floreste-font/floreste/Euclid\ Circular\ A\ Italic.ttf') format('opentype');
    font-style: normal;
  }
  @font-face {
    font-family: 'Le Murmure';
    src: url('../fonts/floreste-font/floreste/Le_Murmure-Regular_web.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }

/* **************************************** */
body {
    background-color: #b5a1e7;
}
/* ********************* */

.header-content-with-three-component {
    position: relative;
}

.block-content {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

:root {
    --block-width: calc(100vw / 3);
}

.content-block {
    width: var(--block-width);
    height: 860px;
    margin: 10px;
    transition: width 0.5s;
    border-radius: 40px;
}
.content-block.content-block-1{
    background-color: #C5B0FA;
}
.content-block.content-block-2{
    background-color:  #FA8FEF;
}
.content-block.content-block-3{
    background-color: #AECFFF;
}

.content-items{
    color: white;
    width: 300px;
    align-items: center;
    text-align: center;
    margin: 0 auto; 
    justify-content: center;
    margin-top: 2vw;
}

.slide-number{
    padding-top: 10vw;
    color:white;
    font-family: 'Floreste';
    font-size: 15px;
}

.content-items button{
    color:black;
}
/* ****************for block*********************** */
.images-block{
    display: block;
     margin: 0 auto;
     width: 350px; 
     height: 400px;
     transform: rotate(5deg) ;
     padding-top: 150px;
}


.images-from-content {
    position: relative;
  }
  
  
  .overlay-text {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 70px;
    text-wrap: nowrap;
    font-family: 'Floreste';
  }
  
/* **************for navigation********* */
.navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

nav {
    display: flex;
    list-style-type: none;
    margin-top: 2vw;
    margin-left: 6vw;
    margin-right: 6vw;
}

nav li {
    display: flex;
    align-items: center;
    margin-right: 6vw; 
    color: white;
    font-size: 18px;
    cursor: pointer;
}

nav li:nth-of-type(2) {
    margin-right: 15vw; 
}

nav li:nth-of-type(3),
nav li:nth-of-type(4) {
    margin-right: 3vw; 
}

nav li:nth-of-type(4) {
    margin-right: 18vw; 
}

nav li:nth-of-type(5) {
    margin-right: 8vw; 
}

nav li:nth-of-type(6),
nav li:nth-of-type(7) {
    margin-right: 26px; 
}

nav li i {
    margin-right: 1vw;
}

.link-home {
    font-size: 45px;
    font-family: 'Le Murmure';
    white-space: nowrap;
}
/* ***************category**************** */

.category{
    display: inline;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: 15px;
    color:white;
    font-family: 'Euclid Circular A';
}




/* **********content-category***************** */

.content-category {
    /* width: 100%; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; /* Distribute items evenly with space around */
    align-items: center;
    margin-left: 6vw;
    margin-right: 3vw; 
    /* background-color: black; */
  
}
.first img {
    max-width: 100%; 
    max-height: 100%; 
}
.first {
    width: 200px; 
    height: 300px; 
    background-color: #CBB6FF;
    border-radius: 70% 70% 70% 70%;  
    position: relative;
    justify-content: center;
    align-items: center;
  }

.quantity {
    position: absolute;
    top: 50px; 
    right: 1px; 
    background-color: #b5a1e7; 
    padding: 6px 5px; 
    border-radius: 15px; 
    font-weight: bold;
    border-radius: 50%;
    position: absolute; 
    transform: rotate(-15deg);
}
  .first p{
    font-family: 'Floreste';
    width: 70px;
    height: 20px;
    font-size: 18px;
  }
  .for-col {
   align-items: center;
    text-align: center;
    width: 50px;
    height: 30px;
  }

/* ********arrow************ */

.arrow {
    position: absolute;
    bottom: -15px; 
    left: 50%;
    transform: translateX(-50%); 
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border:3px solid  #D9FF5A;
    background-color:#b5a1e7 ;
}

.arrow i {
    font-size: 24px;
    color:  #D9FF5A;
}
.arrow button{
    border:none;
    background-color: inherit;
}
.arrow:active, .button:active {
    background-color: #D9FF5A;
}
.arrow i .fa-arrow-down:active{
    background-color:#b5a1e7 ;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    right: 60px;
    top: 100px;
    width: 400px;
    height: 400px;
    background: rgba(51, 32, 101, 0.2); /* Dimmed background color */
    border-radius: 30px;
    padding: 20px;
    color: white;
    backdrop-filter: blur(3px); /* Apply blur effect to the background */
}


.close, .closes, .clos {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 100px;
    cursor:default;
}

.close:hover,
.closes:hover {
    text-decoration: none;
    cursor: pointer;
}

 input {
    margin-top: 30px;
    border: none;
    background-color: inherit;
    color:white;
    font-family: 'Euclid Circular A';
}
 input:focus {
    border: none;
    background-color: inherit;
    outline: none; 
    border: none;
}
input[type="email"]::placeholder,
input[type="password"]::placeholder {
    color: white;
}
  hr {
    background-color: yellow;
    border: 0;
    height: 1px;
    margin: 5px 0;
}

.modal-content button,
.block2 button{
    margin-top: 30px;
    border: 2px solid yellow; 
    background-color: inherit;
    color: white;
    transform: rotate(-15deg); 
    border-radius: 50%;
    width: 100px; 
    height: 50px;
    font-weight:'Euclid Circular A' ;
}
.buy-button{
    border: 2px solid yellow; 
    background-color: inherit;
    color: white;
    transform: rotate(-15deg); 
    border-radius: 50%;
    width: 100px; 
    height: 50px;
    font-weight:'Euclid Circular A' ;
}
.modal-content button:active,
.block2 button:active,
.buy-button:active{
    background-color: yellow;
    color:white;
}
.bottom-link {
    position: fixed;
    bottom: 10px; 
    left: 50px;
    transform: translateX(-50%);
}


.modalContact,
.modalFind{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    color: white;
    backdrop-filter: blur(3px);
}

.modal-contents {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    height: 80%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.block-1-2 {
    display: flex;
    width: 100%;
}

.block1, .block2 {
    height: 300px;
    margin-bottom: 10px;
}

.block1 {
    width: 50%; /* Занимает половину контента */
    
    background-color: #AE97E8;
    border-radius: 30px 0 0 0;
    display:flex;
    justify-content: space-around;
}

.block1 ul {
    padding: 0; 
}

.block1 ul li {
    display: inline;
    list-style-type: none;
    margin-right: 10px; /* Добавляем отступ справа между элементами */
}
.end-elem{
    margin-top: 5vw;
}
.item-contact{
    margin-top: 20px;
    margin-left:2vw;
}

.block2 {
    width: 50%; /* Занимает вторую половину контента */
    background-color: #FA8FEF; /* Цвет фона блока 2 */
    border-radius: 0 30px 0 0;
    padding-left: 40px;
}
.block2 .close{
    padding-right:20px;
    margin-top: 10px;
}
.block3{
    width: 100%;
    height: 450px;
    background:url('../images/image.png');
    background-size: cover; 
    background-position: center;
    border-radius: 0 0 30px 30px;
}

/* ****************text line with text********* */
.block-text-content {
    display: flex;
    flex-direction: column; /* Изменяем направление гибкого контейнера на столбец */
    height: 70px; 
    color: white;
    width: 100%;
   
}

.creating-an-art-text {
    flex: 1;
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.creating-an-art-text {
    flex: 1;
    font-family: 'Floreste';
    color: white;
    flex-wrap: nowrap;
    word-spacing: 25px; /* Растягивает текст на всю ширину блока */
}

.first-text {
    background: #AECEFF;
    transform-origin: top right;
    margin-top: 10vw;
    transform: rotate(-5deg);
    position: relative;
    z-index: 0;

}

.second-text {
    background: #CBB6FF;
    transform-origin: top left;
    transform: rotate(5deg);
    z-index: -1;
    
}
.creating-an-art-text span{
    font-size: 20px;
}
/* ***********detail for category */
.content-details {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7vw;
}
